body {
    font-family: 'Arial', sans-serif;
    background-color: #be9eb7;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgba(69, 77, 83, 0.075);
    /* Color oscuro con opacidad */
    color: white;
    font-size: 2.5rem;
    height: 150px;
    display: flex;
    /* Para centrar el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    position: relative;
    /* Necesario para el pseudo-elemento */
    width: 100%;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, 1);
    /* Sombra del texto */
}

.nav::before {
    content: "";
    background-image: url('../img/img-1.jpg'),
        url('../img/img-2.jpg'),
        url('../img/img-3.jpg'),
        url('../img/img-4.jpg'),
        url('../img/img-5.jpg');
    background-size: 20% 100%;
    /* Cada imagen ocupa el 20% del ancho y 100% de la altura del contenedor */
    background-position: left top, center top, right top, center top, right top;
    /* Posiciona correctamente cada imagen */
    background-repeat: no-repeat;
    /* Previene la repetición */
    background-position: 0 0, 25% 0, 50% 0, 75% 0, 100% 0;
    /* Ajusta la posición de cada imagen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Asegúrate de que ocupe todo el ancho */
    height: 100%;
    /* Asegúrate de que ocupe toda la altura */
    z-index: -1;
    /* Coloca las imágenes detrás del contenido */
    opacity: 1;
    /* Ajusta la opacidad para mejorar la visibilidad */
}

form {
    background-color: #aa80c2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 1px solid #800020;
}

/* Estilos de Card  */
.tarj {
    border: 1px solid #4b000e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fceaea;
}

/* Efecto al hacer hover sobre la card */
.tarj:hover {
    box-shadow: 0 10px 15px rgba(75, 0, 14, 0.4), 0 4px 6px rgba(75, 0, 14, 0.4);
    transform: scale(1.03);
}

/* Clase para las imágenes en la card */
.tarj img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

/* Clase para el título de la card */
.tarj-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #800020;
    margin: 15px 0;
}

/* Clase para el texto dentro de la card */
.tarj-text {
    color: #4b000e;
    margin-bottom: 0.75rem;
}

/* Spinner Styles */
.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
    color: #800020;
}

/* Error Alert Styles */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #4b000e;
}
/* Espacio pie de pagina */
.espacio {
    height: 100px;
}

/* Footer nombre */
.footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: bottom 0.3s ease;
}

.footer.show {
    bottom: 0;
}

/* Estilo pagina de img extras */
.img-extra {
    box-shadow: 0 10px 15px rgba(75, 0, 14, 0.4), 0 4px 6px rgba(75, 0, 14, 0.4);

}
/* Hoover img extras */
.img-extra:hover {
    box-shadow: 0 10px 15px rgba(75, 0, 14, 0.9), 0 4px 6px rgba(17, 6, 8, 0.4);
    transform: scale(1.03);
}
/* Titulo de igm extras */
#title {
    color: rgb(17, 14, 14);
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
}